version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: foodify
      POSTGRES_USER: foodify
      POSTGRES_PASSWORD: foodify
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.3
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.3
    depends_on:
       zookeeper:
         condition: service_started
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"] # enables persistence
    volumes:
      - redis_data:/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: foodify-app
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_started
      redis:
        condition: service_started
    ports:
      - "8084:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/foodify
      SPRING_DATASOURCE_USERNAME: foodify
      SPRING_DATASOURCE_PASSWORD: foodify
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_REDIS_HOST: redis
      GOOGLE_APPLICATION_CREDENTIALS: /app/config/serviceAccountKey.json
      KONNECT_ENVIRONMENT: ${KONNECT_ENVIRONMENT:-sandbox}
      KONNECT_SANDBOX_API_KEY: ${KONNECT_SANDBOX_API_KEY:-}
      KONNECT_SANDBOX_WALLET_ID: ${KONNECT_SANDBOX_WALLET_ID:-}
      KONNECT_SANDBOX_WEBHOOK_URL: ${KONNECT_SANDBOX_WEBHOOK_URL:-}
      KONNECT_PRODUCTION_API_KEY: ${KONNECT_PRODUCTION_API_KEY:-}
      KONNECT_PRODUCTION_WALLET_ID: ${KONNECT_PRODUCTION_WALLET_ID:-}
      KONNECT_PRODUCTION_WEBHOOK_URL: ${KONNECT_PRODUCTION_WEBHOOK_URL:-}
      EXPO_ACCESS_TOKEN: ${EXPO_ACCESS_TOKEN:-}
      CLOUDFLARE_IMAGES_ACCOUNT_ID: ${CLOUDFLARE_IMAGES_ACCOUNT_ID:-}
      CLOUDFLARE_IMAGES_API_TOKEN: ${CLOUDFLARE_IMAGES_API_TOKEN:-}
      TZ: Africa/Tunis

    volumes:
      - ./serviceAccountKey.json:/app/config/serviceAccountKey.json
    restart: on-failure

volumes:
  postgres_data:
  redis_data:
