apiVersion: v1
kind: Service
metadata:
  name: kafka-broker
  labels:
    app: kafka-broker
spec:
  type: ClusterIP
  selector:
    app: kafka-broker
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
